<div class="container container-sm ml-4 mt-6 d-flex flex-column justify-content-center align-items-center">
  <img class="col-lg-6" src="/src/assets/images/gsone_logo.png" alt="GSOne Logo">
  <div class="row col-lg-6 border border-secondary br-1">
    <form class="d-flex flex-column justify-content-center align-items-center bd-highlight mb-3 mt-4">
      <h2 class="fs-3 mb-3 mt-1">Log In</h2>
      <input id="username"
             type="text"
             class="col col-md-13 p-2 pe-3 mt-4 br-1"
             placeholder="Username"
             required/>
      <input id="password"
             type="password"
             class="col col-md-13 p-2 pe-3 mt-4 br-1"
             placeholder="Password"
             required/>
      <button class="btn btn-success customer-button mt-5 px-6 py-6 fs-7">
        LOG IN
      </button>
      <a class="mt-4 mb-4 fst-normal" href="/RequestReset">FORGOT PASSWORD</a>
    </form>
  </div>
</div>
